<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.jpeg" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
        </a>
        <div data-bs-toggle="modal" data-bs-target="#modificaProfilo"
            class="navbar-text ms-auto font-size cursor-pointer">
            {{ nomeCognomeUserLogged }}
            <svg data-bs-toggle="modal" data-bs-target="#logout" xmlns="http://www.w3.org/2000/svg" width="22"
                height="22" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"
                style="margin-bottom: 2.4px; margin-left: 5px;">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
        </div>
    </div>
</nav>

<div *ngIf="ruolo === 'project-manager'" class="container mt-5">
    <h2>Dipendenti</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Inserisci il nome del dipendente"
                [(ngModel)]="searchDipendenteTable" (input)="cercaDipendentePerNome()">
        </div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary" routerLink="/task">Gestisci dipendenti</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Ruolo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dipendente of dipendentiFiltrati">
                    <td>{{ dipendente.nome }}</td>
                    <td>{{ dipendente.cognome }}</td>
                    <td>{{ dipendente.email }}</td>
                    <td>{{ dipendente.ruolo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="ruolo === 'project-manager'" class="container mt-5">
    <h2>Progetti</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Inserisci il nome del progetto"
                [(ngModel)]="searchProgettoTable" (input)="cercaProgettoPerNome()">
        </div>
        <div class="col-md-6 mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inserisciProgetto">
                Inserisci progetto
            </button>
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Data Inizio</th>
                    <th>Data Consegna</th>
                    <th>Stato Progetto</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let progetto of progettiFiltrati">
                    <td>{{ progetto.nome }}</td>
                    <td>{{ progetto.descrizione }}</td>
                    <td>{{ progetto.dataInizio }}</td>
                    <td>{{ progetto.dataFinePrevista }}</td>
                    <td>{{ progetto.statoProgetto }}</td>
                    <td>
                        <button type="button" class="btn m-0 p-0" data-bs-toggle="modal"
                            data-bs-target="#modificaProgetto">
                            <svg (click)="prendiProgettoDaModificare(progetto)" xmlns="http://www.w3.org/2000/svg"
                                width="18" height="18" fill="#007bff" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                        <button type="button" class="btn m-0 p-0" data-bs-toggle="modal"
                            data-bs-target="#eliminaProgetto">
                            <svg (click)="prendiProgettoDaEliminare(progetto)" xmlns="http://www.w3.org/2000/svg"
                                width="18" height="18" fill="#dc3545" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="inserisciProgetto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Aggiungi progetto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nomeProgetto">Nome Progetto</label>
                        <input type="text" class="form-control" id="nomeProgetto" name="nomeProgetto"
                            [(ngModel)]="projectToSaved.nome">
                    </div>
                    <div class="form-group">
                        <label for="descrizioneProgetto">Descrizione Progetto</label>
                        <input type="text" class="form-control" id="descrizioneProgetto" name="descrizioneProgetto"
                            [(ngModel)]="projectToSaved.descrizione">
                    </div>
                    <div class="form-group">
                        <label for="statoProgetto">Stato Progetto</label>
                        <input type="text" class="form-control" id="statoProgetto" name="statoProgetto"
                            [(ngModel)]="projectToSaved.statoProgetto">
                    </div>
                    <div class="form-group">
                        <label for="dataInizioProgetto">Data inizio Progetto</label>
                        <input type="text" class="form-control" id="dataInizioProgetto" name="dataInizioProgetto"
                            [(ngModel)]="projectToSaved.dataInizio">
                    </div>
                    <div class="form-group">
                        <label for="dataFinePrevistaProgetto">Data consegna Progetto</label>
                        <input type="text" class="form-control" id="dataFinePrevistaProgetto"
                            name="dataFinePrevistaProgetto" [(ngModel)]="projectToSaved.dataFinePrevista">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" (click)="salvaProgetto()">Salva progetto</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificaProgetto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modifica progetto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nomeProgetto">Nome Progetto</label>
                        <input type="text" class="form-control" id="nomeProgetto" name="nomeProgetto"
                            [(ngModel)]="selectedProject.nome">
                    </div>
                    <div class="form-group">
                        <label for="descrizioneProgetto">Descrizione Progetto</label>
                        <input type="text" class="form-control" id="descrizioneProgetto" name="descrizioneProgetto"
                            [(ngModel)]="selectedProject.descrizione">
                    </div>
                    <div class="form-group">
                        <label for="statoProgetto">Stato Progetto</label>
                        <input type="text" class="form-control" id="statoProgetto" name="statoProgetto"
                            [(ngModel)]="selectedProject.statoProgetto">
                    </div>
                    <div class="form-group">
                        <label for="dataInizioProgetto">Data inizio Progetto</label>
                        <input type="text" class="form-control" id="dataInizioProgetto" name="dataInizioProgetto"
                            [(ngModel)]="selectedProject.dataInizio">
                    </div>
                    <div class="form-group">
                        <label for="dataFinePrevistaProgetto">Data consegna Progetto</label>
                        <input type="text" class="form-control" id="dataFinePrevistaProgetto"
                            name="dataFinePrevistaProgetto" [(ngModel)]="selectedProject.dataFinePrevista">
                    </div>
                    <div class="form-group">
                        <label for="tasksProgetto">Tasks Progetto</label>
                        <input type="text" class="form-control" id="tasksProgetto" name="tasksProgetto"
                            [(ngModel)]="selectedProject.tasks">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" (click)="modificaProgetto()">Modifica progetto</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminaProgetto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Elimina Progetto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare il progetto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button (click)="eliminaProgetto()" type="button" class="btn btn-primary">Elimina progetto</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificaProfilo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modifica profilo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input *ngIf="ruolo === 'project-manager'" type="text" class="form-control" id="nome"
                            name="nome" [(ngModel)]="projectManagerLogged.nome">
                        <input *ngIf="ruolo !== 'project-manager'" type="text" class="form-control" id="nome"
                            name="nome" [(ngModel)]="dipendenteLogged.nome">
                    </div>
                    <div class="form-group">
                        <label for="cognome">Cognome</label>
                        <input *ngIf="ruolo === 'project-manager'" type="text" class="form-control" id="cognome"
                            name="cognome" [(ngModel)]="projectManagerLogged.cognome">
                        <input *ngIf="ruolo !== 'project-manager'" type="text" class="form-control" id="cognome"
                            name="cognome" [(ngModel)]="dipendenteLogged.cognome">
                    </div>
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input *ngIf="ruolo === 'project-manager'" disabled="" type="email" email=""
                            class="form-control" id="e-mail" name="e-mail" [(ngModel)]="projectManagerLogged.email">
                        <input *ngIf="ruolo !== 'project-manager'" disabled="" type="email" email=""
                            class="form-control" id="e-mail" name="e-mail" [(ngModel)]="dipendenteLogged.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input *ngIf="ruolo === 'project-manager'" disabled="" type="password" class="form-control"
                            id="password" name="password" [(ngModel)]="projectManagerLogged.password">
                        <input *ngIf="ruolo !== 'project-manager'" disabled="" type="password" class="form-control"
                            id="password" name="password" [(ngModel)]="dipendenteLogged.password">
                    </div>
                    <div class="form-group">
                        <label for="nuovaPassword">Nuova password</label>
                        <input type="password" class="form-control" id="nuovaPassword" name="nuovaPassword"
                            [(ngModel)]="nuovaPassword">
                    </div>
                    <div class="form-group">
                        <label for="confermaNuovaPassword">Conferma Nuova password</label>
                        <input type="password" class="form-control" id="confermaNuovaPassword"
                            name="confermaNuovaPassword" [(ngModel)]="confermaNuovaPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" (click)="updateUtenteLogged()">Modifica profilo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler effetturare il logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button (click)="logout()" type="button" class="btn btn-primary">Conferma</button>
            </div>
        </div>
    </div>
</div>